@model EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">

    @Html.Label("Blog Başlığı:")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle)
    <br />
    @Html.Label("Kategoriler:")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    <br />

    @Html.Label("Yazarlar:")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)ViewBag.value2, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Tarih:")
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Resmi:")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("İçerik:")
    @Html.TextAreaFor(x => x.BlogContent, 5, 15, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogContent)
    <br />
    <button type="submit" class="btn btn-info ">Blog Ekle</button>
</form>



