@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yazar Ekleme Ekranı</h2>


<form class="form-group" method="post">

    @Html.Label("Yazar Ad Soyad:")
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NameSurname)
    <br />

    @Html.Label("Yazar Resmi:")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorImage)
    <br />
    @Html.Label("Yazar Ünvan:")
    @Html.TextBoxFor(x => x.AuthorTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorTitle)
    <br />
    @Html.Label("Yazar İlgi Alanları:")
    @Html.TextBoxFor(x => x.AuthorShortAbout, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar  Mail:")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Şifre:")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Telefon:")
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Hakkında:")
    @Html.TextAreaFor(x => x.AuthorAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorAbout)
    <br />
    <button type="submit" class="btn btn-info ">Yazar Ekle</button>
</form>
